<h1 class="center">Another Page</h1>
<div class="row">
  <% @apps.each do |app| %>
    <div class="col s12 m3">
      <div class="card red">
        <div class="card-content white-text">
          <span class="card-title"><%= app.title %></span>
          <p><%= app.description %></p>
        </div>
        <div class="card-action">
          <a class="btn" href="/apps/<%= app.id %>/edit">Edit</a>
          <a href="#">Delete</a>
        </div>
      </div>
    </div>
  <% end %>
</div>