<h1 class="center">B's BBQ Smokehouse</h1>
<div class="center card blue-grey">
  <div class="card-content white-text">
    <h3>Create a Plate</h3>
    <a href="/apps/new" class="btn">New Plate</a>
  </div>
</div>
<div class="center card blue-grey">
  <div class="card-content white-text">
    <h3>Checkout</h3>
    <a href="/apps" class="btn">Checkout</a>
  </div>
</div>
